html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}


   /*  */
/* after reset Code */
  /*  */


html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: Lato, sans-serif;

}

/* google maps container */
.map-container{
  width: 100%;
  height: 100%;
  min-height: 97.5%;
  max-height: 97.5%;

  min-width: 100%;
}

/* google maps id */
#map {
  width: 100%;
  height: 100%;
  min-height: 97.5%;
  max-height: 97.5%;
  min-width: 100%;
}

/* bottom nav bar upbotton  */
.dropup .dropdown-menu {
    top: auto;
    bottom: 100%;
    margin-bottom: .125rem;
    position: absolute;
}
.drop-up {
    top: auto;
    bottom: 100% !important;
}
/* Note pop up that moves */

#popUp{
  z-index: 99;
}

#contID{
  position: relative;
}
#dropDownMenuID{
  min-width: 1rem;
   position: absoulute;

}

#geoDiv{
  z-index: 655;
  min-height: 400px;
  max-height: 400px;
  height: 100%;
}
.addressDetails{
    z-index: 99;
    position: absolute;
    background-color: #f1f1f1;
    text-align: center;
    border: 1px solid #d3d3d3;
    padding: 10px;
    left: 10%;
    width: auto;
    cursor: move;
}

/* end Not pop up that moves  */
.notecontainer {
  top:0;
  display: block;
  width: 100%;
  float: left;
}
.notecontainer ul {
  margin: 0;
  padding: 0;
}
.notecontainer li * {
  float: left;
}
.notecontainer li, h3 {
  clear:both;
  list-style:none;
}
.notecontainer input, button {
  outline: none;
}
#notebutton {
  background: none;
  border: 0px;
  color: #888;
  font-size: 15px;
  width: 60px;
  margin: 10px 0 0;
  font-family: Lato, sans-serif;
  cursor: pointer;
}
.notecontainer button:hover {
  color: #333;
}
/* Heading */
.notecontainer h3,
label[for='new-task'] {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
}
.notecontainer input[type="text"] {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 18px;
  padding: 10px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}
.notecontainer input[type="text"]:focus {
  color: #333;
}

/* New Task */
.notecontainer label[for='new-task'] {
  display: block;
  margin: 0 0 20px;
}
.notecontainer input#new-task {
  float: left;
  width: 318px;
}
.notecontainer p > button:hover {
  top:0;
  color: #0FC57C;
}

/* Task list */
.notecontainer li {
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
}
.notecontainer li > input[type="checkbox"] {
  margin: 0 10px;
  position: relative;
  top: 15px;
}
.notecontainer li > label {
  font-size: 18px;
  line-height: 40px;
  width: 237px;
  padding: 0 0 0 11px;
}
.notecontainer li >  input[type="text"] {
  width: 226px;
}
.notecontainer li > .delete:hover {
  color: #CF2323;
}

/* Completed */
#completed-tasks label {
  text-decoration: line-through;
  color: #888;
}

/* Edit Task */
.notecontainer ul li input[type=text] {
  display:none;
}

.notecontainer ul li.editMode input[type=text] {
  display:block;
}

.notecontainer ul li.editMode label {
  display:none;
}

/* Not CSS */
